@import "../../variables.css";

.root {
  background-color: var(--grey-4);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.startBar {
  background: var(--grey-1);
  color: var(--white);
  display: flex;
  flex: 0;
  justify-content: space-between;
}

.middleContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.bottomBar {
  flex: 0;
}

.startSection,
.endSection {
  display: flex;
  align-items: center;
}

.button {
  background: var(--pink-fip);
  border: 0;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 50px;
}

.icon {
  font-size: 18px;
  line-height: 50px;
}

.title {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 0 10px;
  padding: 0;
}

.linkContainer {
  text-align: center;
  width: 50px;
}

.link {
  color: var(--grey-7);
  font-size: 26px;
  line-height: 50px;
}

.link:hover {
  color: var(--white);
  text-decoration: none;
}
.link:active,
.link:focus {
  color: var(--grey-5);
}
