.fipradio {
  padding: 10px;

  .fipradio-nowplaying {
    background-color: #222222;
    margin: 10px 0 10px;

    .fipradio-nowplaying-cover {
      display: inline-block;
      height: 60px;
      vertical-align: top;
    }

    .fipradio-nowplaying-info {
      display: inline-block;
      padding: 10px 0 10px 10px;
      vertical-align: top;
      width: ~"calc(100% - 70px)";

      .fipradio-nowplaying-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
      }

      .fipradio-nowplaying-artist {
        font-size: 14px;
        font-weight: lighter;
        line-height: 20px;
      }
    }
  }

  hr {
    border-color: #303030;
  }
}
