ul.song-list {
  padding: 0;

  li.song-list-item {
    background-color: #303030;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px 10px;

    .song-list-item-title {
      font-size: 18px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .song-list-item-info {
      font-size: 14px;
      font-weight: lighter;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .song-list-item-controls {
      display: none;
      margin-top: 5px;

      .song-list-item-controls-favorite,
      .song-list-item-controls-spotify {
        color: white;
        display: block;
        font-weight: bold;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;

        .fa {
          float: left;
          font-size: 20px;
          line-height: 34px;
          margin-left: 10px;
        }
      }

      .song-list-item-controls-favorite {
        background-color: #666666;
        margin-bottom: 5px;
      }

      .song-list-item-controls-spotify {
        background-color: #84bd00;

        &:active, &:focus, &:hover {
          text-decoration: none;
        }
      }
    }

    .song-list-item-controls.song-list-item-controls-shown {
      display: block;
    }
  }

  li.song-list-item.song-list-item-favorited {
    border-left: 3px solid @fip-pink;
    padding-left: 7px;
  }
}

@media(min-width: 768px) {
  ul.song-list {
    li.song-list-item {
      .song-list-item-controls {
        display: block;

        .song-list-item-controls-favorite,
        .song-list-item-controls-spotify {
          background: none;
          color: #bbbbbb;
          display: inline-block;
          font-size: 14px;
          font-weight: normal;
          line-height: 20px;
          margin: 5px 20px 0 0;
          text-transform: none;

          .fa {
            float: none;
            font-size: 14px;
            line-height: 20px;
            margin: 0 5px 0 0;
          }

          &:hover {
            color: white;
            cursor: pointer;
          }
        }

        .song-list-item-controls-favorite:hover {
          .fa {
            color: @fip-pink;
          }
        }

        .song-list-item-controls-spotify:hover {
          .fa {
            color: #84bd00;
          }
        }
      }
    }
  }
}
