/**
 * Import the variables globally.
 * 1. Because the compilation does not fail if a CSS file uses variables without importing the file.
 * 2. Because postcss-loader/postcss-custom-media don’t transform the custom media queries in any file that would processed before variables.css
 */
@import "./variables.css";

body {
  background-color: var(--grey-4);
  font-family: "Oxygen", sans-serif;
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  src: local("Oxygen Light"), local("Oxygen-Light"),
    url("./fonts/oxygen-light-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  src: local("Oxygen Light"), local("Oxygen-Light"),
    url("./fonts/oxygen-light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen"), local("Oxygen-Regular"),
    url("./fonts/oxygen-regular-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen"), local("Oxygen-Regular"),
    url("./fonts/oxygen-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  src: local("Oxygen Bold"), local("Oxygen-Bold"),
    url("./fonts/oxygen-bold-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  src: local("Oxygen Bold"), local("Oxygen-Bold"),
    url("./fonts/oxygen-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
