:root {
  --grey-1: #222222;
  --grey-2: #272727;
  --grey-3: #303030;
  --grey-4: #373737;
  --grey-5: #444444;
  --grey-6: #666666;
  --grey-7: #bbbbbb;
  --grey-8: #c0c0c0;

  --black: #000000;
  --green-spotify: #84bd00;
  --pink-fip: #e2007a;
  --white: #ffffff;

  --screen-small: 470px;
  --screen-medium: 768px;
  --screen-large: 991px;
}
