:root {
  --grey-darkest: #222222;
  --grey: #444444;
  --grey-light: #BBBBBB;
  --pink-fip: #e2007a;
  --white: #ffffff;

  --screen-small: 470px;
  --screen-medium: 768px;
  --screen-large: 991px;
}
